<p>Applicant Name: <%= @application.name%></p>
<p>Address: <%= @application.address%></p>
<p>Description: <%=@application.description%></p>
<p>Application status: <%= @application.status %></p>
<ul>
  <p>All pets: <% @application.application_pets.each do |application_pet|%></p>
  <div id="application_pet-<%= application_pet.id%>">
  <li>
    <% if application_pet.status.nil? %>
      <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
        <%= form.label application_pet.pet.name.to_sym %>
        <%= form.hidden_field :status, value: :approved%>
        <%= form.hidden_field :pet_id, value: application_pet.pet_id%>
        <%= form.hidden_field :application_pet_id, value: application_pet.id%>
        <%= form.submit "Approve" %>
      <% end %>
      <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
      <%= form.hidden_field :status, value: :rejected%>
        <%= form.hidden_field :pet_id, value: application_pet.pet_id%>
        <%= form.hidden_field :application_pet_id, value: application_pet.id%>
        <%= form.submit 'Reject' %>
      <% end %>
    <% else %>
      <%= application_pet.pet.name%>:
      <%= application_pet.status %>
    <% end  %>
  </li>
</div>
  <% end  %>
</ul>
