<h1> Admin Approval for Applications </h1>
<h2>Applicant</h2>
<ul>
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.street %></li>
  <p><%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %> </p>
  <li>Reason for Adoption: <%= @application.description %></li>
  <li>Application Status: <%= @application.application_status %></li>
</ul>


<h3>Pets:</h3>
<ul>
<% @application.pets.each do |pet| %>
  <li><%= pet.name %>
    <% if pet.application_result(@application.id) %>
      <%= pet.application_result(@application.id) %>
    <% elsif pet.adoptable %>
      <%= button_to "Approve", "/admin/applications/#{@application.id}?pet=#{pet.id}&decision=Approved", method: :post %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}?pet=#{pet.id}&decision=Rejected", method: :post %>
    <% else %>
      <%= button_to "Adopted", "", method: :post, disabled: true %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}?pet=#{pet.id}&decision=Rejected", method: :post %>
    <% end %></li>
<% end %>

</ul>
