<h1><%= @application.name %>'s Application for Pet Adoption</h1>

<p>
<% @application.pets.each do |pet| %>
<%= image_tag "#{pet.image}" %><br>
Name: <%= pet.name %><br>
Age: <%= pet.approximate_age %><br>
Description: <%= pet.description %><br>
Sex: <%= pet.sex %><br>
  <% if pet.adoptable == true %>
  <%= button_to "Approve", pet_application_path(pet_id: pet.id, application_id: @application.id), method: :patch, params: {status: "Approved"} %>  
  <%= button_to "Reject", edit_application_path(params: { status: "Rejected" }), method: :patch  %>
  <% end %>
<% end %>
</p>
