<h2><%= @application.name %>'s application</h2>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Application status: <%= @application.status %></p>
<p>I would make a good home because: <%= @application.description %></p>

<h3><%= "Pets applied for:" %></h3>
<% @application.pet_applications.each do |app| %>
<section id="admin-pet-<%= app.pet.id %>">
    <p><%= app.pet.name %></p>
    <% if app.pet.adoptable? %>
      <%= button_to 'Approve Application', "/admin/pet_applications/#{app.id}", method: :patch, local: true %>
    <% else %>
      <h2 style="color:green"><%= "Approved" %></h2>
    <% end %>
  </section>
<% end %>
