
<p>Name: <%= "#{@application.name}" %></p>
<p>Street: <%= "#{@application.street_address}" %></p>
<p>City: <%= "#{@application.city}" %></p>
<p>State: <%= "#{@application.state}" %></p>
<p>Zipcode: <%= "#{@application.zip_code}" %></p>
<p>Description: <%= "#{@application.description}" %></p>

<% if @application.reviewed == false %>
  <p>Status: Pending</p>
<% else %>
  <% if @application.accepted == true %>
    <p>Status: Accepted</p>
  <% else %>
    <p>Status: Rejected</p>
  <% end %>
<% end %>
