<%= render partial: "applications/app_attrs", locals: { application: @application } %>

<section id="approval">
  <h2>Approve Pets</h2>
  <% @application.pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
      <p><%= pet.name %></p>
      <% if @pet_app_hash[pet.name].status == 'Pending' %>
        <%= button_to "Approve #{pet.name}", "/admin/applications", method: :patch, params: { app_id: @application.id,
                                                                                              pet_id: pet.id,
                                                                                              update_type: 'approve'} %>
        <%= button_to "Reject #{pet.name}", "/admin/applications", method: :patch, params: { app_id: @application.id,
                                                                                              pet_id: pet.id,
                                                                                              update_type: 'reject'} %>
      <% else %>
        <p>Status: <%= @pet_app_hash[pet.name].status %></p>
      <% end %>
    </section>
  <% end %>
</section>
