<% if @app.application_status == "In Progress" %>
  <h3> Add a Pet to this Application</h3>
  <%= form_tag application_path, method: :get do %>
    <%= label_tag 'Search by Pet Name' %>
    <%= text_field_tag 'search' %>
    <div>
      <%= submit_tag 'search' %>
    </div>
  <% end %>
<% end %>
<% if @selected %>
  <% @selected.each do |selectee| %>
    <h3>Want to adopt? </h3>
    <%= selectee.name %>
    <%= selectee.approximate_age %>
    <%= selectee.sex %>
    <%= selectee.adoptable %>
    <%= button_to "Adopt this Pet?", application_path(@app.id), method: :get, params: {:pet_id => selectee.id, :adopt => "true"} %>
  <% end %>
<% end %>
