<%= form_tag path, method: :get do %>
  <%= label_tag :search_pets, "Name: " %>
  <%= text_field_tag :search_pets, params[:search_pets] %>
  <%= submit_tag button_text %>
<% end %>

<% if params[:search_pets] %>
<% if @pet_results %>
  <% @pet_results.each do |pet| %>
    <section id="pet-#{pet.id}">
      <%= image_tag "#{pet.image}", size: "100x100" %>
      <p><%= pet.name %></p>
    </section>
  <% end %>
<% else %>
    <%= flash.now[:error] = "No pets found with that name." %>
  <% end %>
<% end %>