<h3>Add a Pet to this Application</h3>

<% if @application.pets.count >= 1 %>
  <section id="description-section">
  <p>Why would you be a good home?</p><br/>
  <%= form_tag path, method: :patch do %>
    <%= label_tag :description, "Description:" %>
    <%= text_field_tag :description %>
    <%= submit_tag "Submit Application" %>
  <% end %>
  </section>
<% end %>

<section id="add-pets">
<%= form_tag path, method: :get do %>
  <%= label_tag :search_pets, "Name: " %>
  <%= text_field_tag :search_pets, params[:search_pets] %>
  <%= submit_tag button_text %>
<% end %>

<% if params[:search_pets] %>
  <% if @pet_results %>
    <% @pet_results.each do |pet| %>
      <section id="pet-<%= pet.id %>">
        <%= image_tag "#{pet.image}", size: "100x100" %><br/>
        <%= link_to "#{pet.name}", pets_show_path(id: pet.id) %><br/>
        <%= link_to "Adopt this Pet", pet_applications_create_path(application_id: @application.id, pet_id: pet.id), method: :post %> <br/>
      </section>
    <% end %>
  <% else %>
      <%= flash.now[:error] = "No pets found with that name." %>
  <% end %>
<% end %>
</section>