<h2>Create a New Application</h2>

<section id= "new-application">
<%= form_with url:'/applicants', local: true do |form| %>
<%# <%= form_with Applicant, local: true do |form| %>
  <%= form.label :name%>
  <%= form.text_field :name %><br>
  <%= form.label :address %>
  <%= form.text_field :address %><br>
  <%= form.label :city%>
  <%= form.text_field :city %><br>
  <%= form.label :state %>
  <%= form.text_field :state %><br>
  <%= form.label :zip %>
  <%= form.text_field :zip%><br>
  <%= form.submit 'Submit' %>
<% end %>
</section>