<h1>New Application</h1>

<%= form_for :application do |f| %>
  Applicant name: <%= f.text_field :applicant_name %><br>
  Street address: <%= f.text_field :street_address %><br>
  City:           <%= f.text_field :city %><br>
  State:          <%= f.text_field :state %><br>
  Zip code:       <%= f.text_field :zip %><br>
  <%= f.submit %>
<% end %>
