<%= form_with url:"/applications", method: :post, local: true do |form| %>
  <h2>Start an Application</h2>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %><br>
  <%= form.label :last_name%>
  <%= form.text_field :last_name %><br>
  <%= form.label :address %>
  <%= form.text_field :address %><br>
  <%= form.label :city %>
  <%= form.text_field :city %><br>
  <%= form.label :state %>
  <%= form.text_field :state%><br>
  <%= form.label :zipcode %>
  <%= form.number_field :zipcode%><br>
  <%= form.submit 'Create Application' %>
<% end %>
