<%= form_tag '/applications' do %>
  <h2>Create a New Shelter</h2>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %><br>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %><br>
  <%= label_tag :street_address %>
  <%= text_field_tag :street_address %><br>
  <%= label_tag :city %>
  <%= text_field_tag :city %><br>
  <%= label_tag :state %>
  <%= text_field_tag :state %><br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip%><br>
  <%= submit_tag 'Submit' %>
<% end %>
