<h2>New Application</h2>
<%= form_with url: applications_new_path(@application), local: :true do |form| %>
<%= form.label :name %>
<%= form.text_field :name, required: true %> <br>
<%= form.label :street_address %>
<%= form.text_field :street_address, required: true %> <br>
<%= form.label :city %>
<%= form.text_field :city, required: true %> <br>
<%= form.label :state%>
<%= form.text_field :state, required: true %> <br>
<%= form.label :zip %>
<%= form.number_field :zip, required: true %> <br>
<%= form.label :description %>
<%= form.text_field :description, required: true %> <br>
<%= form.submit %>
<% end %>