<h1>New Application</h1>
<%= form_tag "/applications/", method: :post do %>
  <%= hidden_field_tag :status, "In Progress" %>
  <%= hidden_field_tag :description, "N/A" %>
  <%= label_tag :name, "Name:" %>
  <%= text_field_tag :name %><br/>
  <%= label_tag :street_address, "Street address:" %>
  <%= text_field_tag :street_address %><br/>
  <%= label_tag :city, "City:" %>
  <%= text_field_tag :city %><br/>
  <%= label_tag :state, "State (abbr):" %>
  <%= text_field_tag :state %><br/>
  <%= label_tag :zip_code, "Zip code:" %>
  <%= number_field_tag :zip_code %><br/>
  <%= submit_tag "Submit" %>
<% end %>