<h1> Your Applications </h1>
  <section id="application-<%=@application.id%>">
    <h2>Name: <%="#{@application.name}"%></h2>
    Address: <%="#{@application.street}, #{@application.city}, #{@application.state}, #{@application.zip_code}"%> <br>
    Description: <%= "#{@application.description}" %>
    Status: <%= "#{@application.application_status}" %>
    <%= @application.pets.each do |pet|  %>
    <h3> Pet Names: <%=link_to "#{pet.name}", "/pets/#{pet.id}"%></h3>
  </section>
<% end %>
<section class="find-pet">
  <%= form_with(url: "/applications/#{@application.id}", method: "get", local: true) do |f| %>
     <h5><%= f.label "Add a Pet to this Application: " %></h5>
     <p><%= f.text_field :search, placeholder: "Enter Pets Name" %></p><br>
     <p><%= f.submit "Search Pets" %></p>
    <% end %>
    <% if @pets %>
  <% @pets.each do |pet| %>
    <div id="pet-<%= pet.id %>">
    <h4><%= pet.name %></h4>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}/adopt?pet_id=#{pet.id}", method: :patch %>
  <%else %>
<% end %>
</section>
<% end %>
