<h1> Application <%= @application.id %> </h1>
<p><b>Application Status: <%= @application.status %></b></p>
<h3>Details:</h3>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>

<section id="pets-applied">
  <h3>Pets applied for:</h3>
</section>
<%= render "pets_list", collection: @application.pets %>
<section id="application-<%= @application.id %>">
<h3>Add a Pet to this Application</h3>
  <%= render partial: "pets_search", locals: { path: "/applications/#{@application.id}", search: params[:search], button_text: "Search" }  %>
</section>
