<h1><%= @application.name %></h1>

<article class="">
  <h3>Address :</h3>
  <p><%= @application.address %></p>
  <h3>City :</h3>
  <p><%= @application.city %></p>
  <h3>State :</h3>
  <p><%= @application.state %></p>
  <h3>Zip :</h3>
  <p><%= @application.zip %></p>
  <h3>Description :</h3>
  <p><%= @application.description %></p>
  <h3>Status :</h3>
  <p><%= @application.status %></p>
</article>