<h2><%= @application.name %></h2>
<%= "Address:  #{@application.street_address}" %><br>
<%= "City: #{@application.city}" %><br>
<%= "State: #{@application.state}" %><br>
<%= "Zipcode: #{@application.zip}" %><br>
<%= "Why I am a good fit:  #{@application.description}" %><br>
<%= "Pets:  #{@pet_application.description}" %><br>
<%= "Application status:  #{@application.status}" %><br>
