<h2><%= @application.applicant.name %></h2>

<p>Address:<br/>
<%= @application.applicant.address %><br/>
<%= @application.applicant.city %>
<%= @application.applicant.state %>
<%= @application.applicant.zip %></p>
Description: <%= @application.description %>
<br/>
Pets: <br/>
<% @application.pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    </section>
<% end %>
<br />
Status: <%= @application.status %>

<h3>Add a Pet!</h3>
<%= form_tag "/applications/#{@application.id}", method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag ("Search") %>
<% end %>
<% binding.pry%>
    <% @pets.each do |pet| %>
        <ul>
            <li><%= link_to pet.name, "/pets/#{pet.id}"%></li><br>
            </ul>
        <% end %>


