<h2><%= @application.applicant.name %></h2>

<%# <h2>Add a Pet!</h2> %>
<%# <%= form_with model:@pets, method: :get do |form| %>
    <%# <% form.text_field :search, params[:search])%>
    <%# <% form.submit "Add"%>
<%# <% end %>
<p>Address:<br/>
<%= @application.applicant.address %><br/>
<%= @application.applicant.city %>
<%= @application.applicant.state %>
<%= @application.applicant.zip %></p>
Description: <%= @application.description %>
<br/>
Pets: <br/>
<% @application.pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    </section>
<% end %>
<br />
Status: <%= @application.status %>