<a href="/applications">All Applications</a>

<div class="Application Pet Search">
  <% if @application.status == "Pending" %>
    <h4>Add a Pet to this Application</h4>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
      <%= form.label :query, "Search for pets by name:" %>
      <%= form.text_field :query %>
      <%= form.submit "Search" %>
    <% end %>
    <% if params[:query] != nil %>
      <% @search_pets.each do |search_pet| %>
        <a href="/pets/<%= search_pet.id %>"><%= search_pet.name %></a><br>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="Application Info Show">
  <h3>Name</h3>
  <p><%= @application.first_name %>
  <%= @application.last_name %></p>
  <h4>Status: <%= @application.status %></h4>
  <h4>Address</h4>
  <p><%= @application.street_address %></p>
  <p><%= @application.city %>,
  <%= @application.state %>
  <%= @application.zip %></p>
  <h4>Why I would make a good owner:</h4>
  <p><%= @application.description %></p>
  <h4>Pets I want to give a forever home:</h4>
  <% @pets.each do |pet| %>
  <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
  <br>
  <% end %>
</div>
