<h2><%= "#{@application.name}" %></h2><br>
<%= "Adress: #{@application.street_address}" %><br>
<%= "City: #{@application.city}" %><br>
<%= "State: #{@application.state}" %><br>
<%= "Zip Code: #{@application.zip_code}" %><br>
<%= "Description: #{@application.description}" %><br>
<h3><%= "In Progress" %></h3>
