<body>
  <h3>Application Status:<%= @app.application_status %></h3>
  <% if @chosen_ones.count >= 1 && @app.application_status == "In Progress" %>
    <%= link_to "Submit Application", application_path(@app.id, :application_status => "Pending"), method: :patch %>
  <% end %>
  <% if @app.application_status == "Pending" %>
    <h3>Pets chosen for Adoption </h3>
    <% @chosen_ones.each do |pet| %>
      <%= link_to "#{pet.name}", show_pets_path(pet.id) %>
    <% end %>
  <% end %>

  <%= @app.name %>
  <%= @app.street %>
  <%=  "#{@app.city}" + ", " + "#{@app.state}" + " " + "#{@app.zip_code}" %>
  <%= @app.description %>
  <%= render partial: 'adopt' %>
</body>
