<h3><%= @application.name %></h3>
  <%= @application.address %>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip %>
  <%= @application.description %>
  <%= @application.status %>
