<h2><%= @application.name %>'s application</h2>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Application status: <%= @application.status %></p>

<h4><a href="/applications/<%= @application.id %>/edit">Edit Application</a></h4>
<%= button_to "Delete Application", "/applications/#{@application.id}", method: :delete %>

<p>I would make a good home because: <%= @application.description %></p>

<section id="pet-section">
<%= "Pets applied for:" %>
<% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
</section>

<section id='add-a-pet'>
  <h4>Add a pet to this application</h4>

    <%= form_tag "/applications/#{@application.id}", method: :get, local: true do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %><br>
    <%= submit_tag "Search by Name" %>
    <% end %>

    <% if params[:search] %>
      <h3>All pets matching search:</h3>
      <ul>
      <% @pets.each do |pet| %>
        <li><%= link_to pet.name, "/pets/#{pet.id}"%>
        <%= button_to 'Adopt this pet', "/pet_applications", method: :post, params:{pet_id: pet.id, application_id: @application.id} %>
        </li><br>
      <% end %>
      </ul>
    <% end %>

</section>
