<section id='main'><h1> Name: <%= "#{@application.name}" %> </h1>
<h2> Address: <br>
  <%= @application.street %> <br>
  <%= @application.city %> <%= @application.state %> <%= @application.zip %> </h2>
  <h3><p> Why you'll make a good home: <%= @application.description %></p></h3>
  <h3><p><% @application.pets.each do |pet| %>
    <%= link_to("#{pet.name}", "/pets/#{pet.id}") %>
  <% end %></p></h3>
<h4><p><%= @application.status %></p></h4>
</section>
<% if @application.status == "In progress" %>
    <h3>Search for your new pet:</h3>
    <%= form_tag("/applications/#{@application.id}", method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag 'Submit' %>
    <% end %>
  <% end %>
  <% if @application.pets && if @application.status != 'Pending'%>
    <%= button_to 'Submit Application', "/applications/#{@application.id}", params: {submitted: true}, method: :get %>
    <% end %>
  <% end %>


<% if @pets %>
  <% @pets.each do |pet| %>
    <%= link_to("#{pet.name}", "/pets/#{pet.id}") %><%= button_to 'Adopt Me', "/application_pets/new", params: {pet_id: pet.id, app_id: @application.id} %>
  <% end %>
<% end %>
