<h2><%= "#{@application.name}" %></h2><br>
<%= "#{@application.street_address}" %><br>
<%= "#{@application.city}" %><br>
<%= "#{@application.state}" %><br>
<%= "#{@application.zip_code}" %><br>
<%= "#{@application.description}" %><br>
<h3><%= "In Progress" %></h3>
