<h2>Name: <%= "#{@application.name}" %></h2>
<h4>Address: </h4><%= "#{@application.street_address}" %><br>
<%= "#{@application.city}, #{@application.state} #{@application.zip_code}"  %><br>
<h4>Description:</h4> <%= "#{@application.description}" %><br>
<h4>Status:</h4> <%= "#{@application.status}" %><br>
