<body>
  <h3>Application Status:<%= @app.application_status %></h3>
  <% if @chosen_ones.count >= 1 && @app.application_status == "In Progress" %>
    <%= link_to "Submit Application", application_path(@app.id, :application_status => "Pending") %>
  <% end %>
  <% if @app.application_status == "Pending" %>
    <h3>Pets chosen for Adoption </h3>
    <% @chosen_ones.each do |pet| %>
      <%= pet.name %>
    <% end %>
  <% end %>

  <%= @app.name %>
  <%= @app.street %>
  <%=  "#{@app.city}" + ", " + "#{@app.state}" + " " + "#{@app.zip_code}" %>
  <%= @app.description %>
  <% if @app.application_status == "In Progress" %>
    <h3> Add a Pet to this Application</h3>
    <%= form_tag application_path, method: :get do %>
      <%= label_tag 'Search by Pet Name' %>
      <%= text_field_tag 'search' %>
      <div>
        <%= submit_tag 'search' %>
      </div>
    <% end %>
  <% end %>
  <% if @selected %>
    <% @selected.each do |selectee| %>
      <h3>Want to adopt? </h3>
      <%= selectee.name %>
      <%= selectee.approximate_age %>
      <%= selectee.sex %>
      <%= selectee.adoptable %>
      <%= link_to "Adopt this Pet?", application_path(@app.id, :pet_id => selectee.id, :adopt => "true") %>
    <% end %>
  <% end %>
</body>
