<h1> Application <%= @application.id %> </h1>
<p><b>Application Status: <%= @application.status %></b></p>
<h3>Details:</h3> </h3>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<h3>Pets applied for:</h3>
<%= if params[:status] == "In Progress" %>
  <%= render "_pets_list" %>
<%= render partial: "pets", collection: @application.pets %>
