<h1><%= @application.name %></h1>

<ul>
  <li><%= @application.street %></li>
  <li><%= @application.city %></li>
  <li><%= @application.state %></li>
  <li><%= @application.zip %></li>
  <li>Description: <%= @application.description %></li>
</ul>

<h2>Application Status: <%= @application.status%></h2>
<h2>Pets currently on Application:</h2>

<% if @pet_apps.count > 0 %>
  <% @pet_apps.each do |pet| %>
  <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
<% end %>

<section id="descriptionForm">
<% if @pet_apps.count > 0 && @application.status == "In Progress"%>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true  do |f| %>
  <%= f.label :description, "Please add a description why you'd make a good owner for the selected pet(s) below:" %><br>
  <%= f.text_area :description, required: true %><br>
  <%= f.submit "Submit Application" %>
  <% end %>
  <% else %>
<% end %>
</section>

<% if @application.status == "In Progress" %>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true  do |form| %>
  <%= form.label :pet_name, "Add a Pet to this Application" %>
  <%= form.text_field :pet_name, required: true %>
  <%= form.submit "Submit" %>
<% end %>
<% end %>


<% if params[:pet_name] %>
  <% @pets.each do |pet| %>
  <p><%= pet.name %></p>
  <%= form_with url: "/applications/#{@application.id}", method: :post, local: true do |f| %>
  <%= f.hidden_field :pet_id, value: pet.id %>
  <%= f.hidden_field :application_id, value: @application.id %>
  <%= f.submit "Adopt this Pet" %>
  <% end %>
  <% end %>
<% end %>