<div class="Application Data">
  <h3 id="app headings">Name:</h3>
  <p><%= @application.first_name %></p>
  <p><%= @application.last_name %></p>
  <h3>Address:</h3>
  <p><%= @application.address %></p>
  <p><%= @application.city %></p>
  <p><%= @application.state %></p>
  <p><%= @application.zip %></p>
  <h3>Reason for Adopting:</h3>
  <p><%= @application.case_for_adoption %></p>
  <h3>Application Status:</h3>
  <p><%= @application.application_status %></p>
  <% @application.pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %>
  <section id='<%= "application-#{@application.id}" %>'>
    <h3>Add a Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: :true do |form| %>
      <%= form.label :pet_name %>
      <%= form.text_field :pet_name %>
      <%= form.submit "Submit" %>
    <% end %>
  </section>

  <h3>Pet Name Matches:</h3>
  <% @searched_pets.each do |pet| %>
    <p><%= pet.name %></p>
    <a><%= button_to "Adopt this Pet", "/pet_applications", method: :post, params: { pet_id: pet.id, application_id: @application.id } %></a>
  <% end %>

</div>
