<h1> Application <%= @application.id %> </h1>
<%= render partial: "shared/application_details" %>


<% if @application.status == "In Progress" %>
  <%= render partial: "new_description", locals: { path: "/applications/#{@application.id}" } %>
  <%= render "pets_list" %>
  <%= render partial: "pets_search", locals: { path: "/applications/#{@application.id}", search: params[:search], button_text: "Search" }  %>
<% else %>
  <h3>Description</h3>
  <%= render "pets_list" %>
  <p><%= @application.description %></p>
<% end %>
