<p>Applicant Name: <%= @application.name%></p>
<p>Address: <%= @application.address%></p>
<p>Description: <%= @application.description%></p>
<p>All pets <% @application.pets.each do |pet|%></p>
<section id="adopted-pet-<%=pet.id%>">
<p><%= pet.name %></p>
</section>
<% end  %>
<p>Application status: <%= @application.status%></p><br>


<h3>Add a Pet to this Application</h3>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search_pets_by_name  %>
  <%= form.text_field :pet_search %>
  <%= form.submit 'Submit' %>
<% end %>

<h3>Pets that match your search criteria:</h3>

<ul><% if @pets %>
    <% @pets.each do |pet| %>
    <div id="pet-<%= pet.id%>">
    <li><%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
          <%= form.label pet.name.to_sym %>
          <%= form.hidden_field :pet_id, value: pet.id%>
          <%= form.submit 'Adopt this Pet' %>
        <% end %></li>
        </div>
    <% end  %>
  <% end  %>
</ul>
