<h1> Application <%= @application.id %> </h1>
<p><b>Application Status: <%= @application.status %></b></p>
<h3>Details:</h3> </h3>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<h3>Pets applied for:</h3>
<%= render "pets_list", collection: @application.pets %>
<section id="application-<%= @application.id %>">
<h3>Add a Pet to this Application</h3>
  <%= render partial: "pets_search", locals: { path: "/applications/#{@application.id}", method: :get, search: params[:search], button_text: "Submit" }  %>
  <%= render partial: "search_results", locals: { search_results: params[:search] } %>
</section>
