<h2><%= @application.name %>'s Application for Adoption</h2>

<p>Name:
  <%= @application.name %><br>
  Address:
  <%= @application.street_address %>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip %><br>
  Description:
  <%= @application.description %><br>
  Pets:
  <%# <%= @application.pet_applications.pets.each do |pet|
       pet.name
      end %></p>
<h3>Application Status: <%= @application.status %></h3>
