<h1> Name: <%= "#{@application.name}" %> </h1>
<h2> Address: <br>
  <%= @application.street %> <br>
  <%= @application.city %> <%= @application.state %> <%= @application.zip %> </h2>
  <h3><p> Why you'll make a good home: <%= @application.description %></p></h3>
  <h3><p><% @application.pets.each do |pet| %>
    <%= link_to("#{pet.name}", "/pets/#{pet.id}") %>
  <% end %></p></h3>
  <% #binding.pry %>
<h4><p><%= @application.status %></p></h4>
