<h2><%= @application.name %></h2>
<%= form_tag  "/applications/#{@application.id}", method: :get do %>
  <%= label_tag :search, 'Select a Pet to this Application' %>
  <%= text_field_tag :search, params[:search] %><br>
  <%= submit_tag 'Search' %><br>
  <% if @selected  && @application.status == "In Progress"%>
    <% @selected.each do |selected| %>
    <%=  selected.name %> <%= link_to 'Adopt this Pet', applications_show_path(@application.id, :pet_id => selected.id, :adopt => true), method: :get %> <br>
  <% end %>
    <%  @application.pets.each do |pet|%>
    <%=  pet.name%>
      <% end %>
  <% end %>
<% end %>


<%= "Address:  #{@application.street_address}" %><br>
<%= "City: #{@application.city}" %><br>
<%= "State: #{@application.state}" %><br>
<%= "Zipcode: #{@application.zip_code}" %><br>
<%= "Reason for adopting:  #{@application.description}" %><br>

<%  @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pets.id}"%><br>
<% end %>

<%= "Application status  #{@application.status}" %><br>
  <%= submit_tag 'Submit' %>
