<h2><%= @application.name %></h2>
<%= form_tag applications_show_path, method: :get do %>
  <%= label_tag :search, 'Add a Pet to this Application' %>
  <%= text_field_tag :search, params[:search] %><br>
  <%= submit_tag 'Search' %>
  <% if @selected %>
    <% @selected.each do |selected| %>
    <%=  selected.name %> <%= link_to 'Adopt this Pet', applications_show_path(@application.id, :pet_id => selected.id, :adopt => true), method: :get %>
    <% end %>
    <%  @application.pets.each do |pet|%>
    <%=  pet.name%>
      <% end %>
  <% end %>
<% end %>
<%= "Address:  #{@application.street_address}" %><br>
<%= "City: #{@application.city}" %><br>
<%= "State: #{@application.state}" %><br>
<%= "Zipcode: #{@application.zip}" %><br>
<%= "Why I am a good fit:  #{@application.description}" %><br>
<%  @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", pets_show_path%>
<% end %>

<%= "Application status  #{@application.status}" %><br>

