<h1><%= @application.name %></h1>
<h2>Applicant Address:</h2>
<h3><%= @application.address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip %></h3>
<h2>Applicant Description</h2>
<h3><%= @application.description %></h3>
<h2>Application Status:</h2>
<h3><%= @application.status %></h3>
