<h1><%= @application.name %></h1>
<% if @application.status != "Pending" %>
  <article class="">
    <h3>Add a Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}", local: true, method: :get do |form| %>
    <%= form.label :pet_name %>
    <%= form.text_field :pet_name %>
    <%= form.submit 'Submit' %>
    <% end %>
  </article>
<% end %>
<article>
  <% if @pets_search %>
    <% @pets_search.each do |pet| %>
      <h6>Names Found :</h6>
      <p><%= pet.name %></p>
      <h6>Pet ID :</h6>
      <p><%= pet.id %></p>
      <%= link_to "Adopt this Pet", application_show_path(adopt_pet_id: pet.id), method: :get %>
    <% end %>
  <% end %>
</article>
<article class="">
  <h3>Address :</h3>
  <p><%= @application.address %></p>
  <h3>City :</h3>
  <p><%= @application.city %></p>
  <h3>State :</h3>
  <p><%= @application.state %></p>
  <h3>Zip :</h3>
  <p><%= @application.zip %></p>
  <h3>Description :</h3>
  <p><%= @application.description %></p>
  <h3>Status :</h3>
  <p><%= @application.status %></p>
  <% if !@application.pets.empty? %>
    <div id="pets-on-application">
      <h3>Pets to Adopt :</h3>
      <% @application.pets.each do |pet| %>
      <ul>
        <li>ID: <%= pet.id %> Name: <%= pet.name %></li>
      </ul>
      <% end %>
    </div>
    <article id="">
      <h3>Submit Application</h3>
      <%= form_with url: "/applications/#{@application.id}", local: true, method: :patch do |form| %>
      <%= form.label :description %>
      <%= form.text_area :description, size: "70 x 5", required: true %>
      <%= form.submit 'Submit' %>
      <% end %>
    </article>
  <% end %>
</article>