<a href="/shelters/<%= @shelter.id %>/applications">All Applications</a>

<div class="Application Info Show">
  <p><%= @application.first_name %></p>
  <p><%= @application.last_name %></p>
  <p><%= @application.street_address %></p>
  <p><%= @application.city %></p>
  <p><%= @application.state %></p>
  <p><%= @application.zip %></p>
  <p><%= @application.description %></p>
  <p><%= @application.status %></p>
</div>
