<h1><%= "#{@application.applicant_name}" %></h1><br>
<h3><%= "#{@application.applicant_address}" %></h3>
<h3><%= "#{@application.city}" %></h3>
<h3><%= "#{@application.state}" %></h3>
<h3><%= "#{@application.zip}" %></h3>
<h3><%= "#{@application.description}" %></h3>
<% if @application.status == nil %>
  <p><%= "Add a pet to this application" %></p>
  <% else %>
  <p><%= "In Progress"  %></p>
<% end %>
