<body>
<ul class="shelters-list">
<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>">
    <li><%= link_to "#{shelter.name}", admin_shelter_path(shelter.id), method: :get %></li>
  </section>
<% end %>
</ul>
<br>

<table class="App-list">
  <tr>
    <th>Link to Review</th>
    <th>Applicant</th>
    <th>App ID</th>
    <th>Status</th>
  </tr>
  <tr>
<% @applications.each do |app| %>
  <section id="application-<%=app.id %>">
    <td><%= link_to "review #{app.id}", admin_app_path(app.id), method: :get %></td>
    <td><%= app.name %></td>
    <td><%= app.id %></td>
    <td><%= app.application_status %></td>
  </section>
  </tr>
<% end %>

</tr>
</table>

</body>
