<%= form_with url: '/applicants', method: :post, local: true do |form|%>
  <h3><%= form.label "New Application:" %></h3>
  <p><%= form.label "Name: " %></p>
  <p><%= form.text_field :name, placeholder: "Jane Doe" %></p>
  <p><%= form.label "Address: " %></p>
  <p><%= form.text_field :address, placeholder: "123 Street" %></p>
  <p><%= form.label "City: " %></p>
  <p><%= form.text_field :city, placeholder: "Conway" %></p>
  <p><%= form.label "State: " %></p>
  <p><%= form.text_field :state, placeholder: "AR", maxlength: 2 %></p>
  <p><%= form.label "Zip: " %></p>
  <p><%= form.text_field :zip, placeholder: "72034", maxlength: 5 %></p>
  <%= form.submit 'Submit' %>
<% end %>
