<section id="applicant-<%= @applicant.id %>">
  <h1><%= @applicant.name %></h1>
  <p><%= @applicant.full_address %></p>
  <p><%= @applicant.good_home_description %></p>
  <p><% @applicant.pets.each do |pet| %></p>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
  <p><%= @applicant.status %></p>
</section>
