<section id="applicant-<%= @applicant.id %>">
  <h1><%= @applicant.name %></h1>
  <p><strong>Address:</strong> <%= @applicant.full_address %></p>
  <p><strong>Good Home Description</strong>: <%= @applicant.good_home_description %></p>
  <p><strong>Pets:</strong></p>
  <p><% @applicant.pets.each do |pet| %></p>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
  <p><strong>Status</strong>: <%= @applicant.status %></p>
</section>

<div class="applicant-pet-search">
  <hr><h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |form| %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
  <% end %>
  <% if @pets %>
    <% @pets.each do |pet| %>
      <%= pet.name %>
      <%= button_to "Adopt this Pet", "/applicants/#{@applicant.id}?adopt_pet_id=#{pet.id}" %>
    <% end %>
  <% end %>
</div>
