<h1>Name: <%= @applicant.name %></h1>
Address: <%= @applicant.address %><br>
City: <%= @applicant.city %><br>
State: <%= @applicant.state %><br>
Zip: <%= @applicant.zip %><br>
Reason for Adoption: <%= @applicant.reason %>
Name of pet(s): <%= @applicant.names_of_pets %>
Application Status: <%= @applicant.application_status %>
