<section id="admin-applicant-<%= @applicant.id %>">
  <h1><%= @applicant.name %></h1>
  <p><strong>Pets:</strong></p>
  <p><% @applicant.pets.each do |pet| %></p>
    <p>Pet: <%= pet.name %> <strong><%= PetApplicant.approve_or_rejected(pet.id, @applicant.id) %></strong>
    <% if PetApplicant.approve_or_rejected(pet.id, @applicant.id).nil?  %>
      <%= button_to "Approve", "/admin/applicants/#{@applicant.id}?pet_id=#{pet.id}&is_pet_approved=true" %>
      <%= button_to "Reject", "/admin/applicants/#{@applicant.id}?pet_id=#{pet.id}&is_pet_approved=false" %></p>
    <% end %>
  <% end %>
</section>
