<h2><%= @shelter.name %></h2>
<%= @shelter.address %>
<%= @shelter.city %>
<%= @shelter.state %>
<%= @shelter.zip %><br>
<%= link_to "#{@shelter.name}'s Pets", shelter_pets_path(@shelter) %><br>
<%= link_to "Edit Shelter", edit_shelter_path(@shelter) %><br>
<%= button_to "Delete Shelter", shelter_path(@shelter), method: :delete %>

<h3>Statistics</h3>
<section id="statistics">
  Average pet age: <%= @shelter.pets.avg_age %><br>
  Available pets: <%= @shelter.pets.adoptable_count %><br>
  Adopted pets: <%= @shelter.pets.adopted_count %>
</section>

<h3>Action Required</h3>
<section id="action-required">
  <% @shelter.pets.action_required.each do |pet| %>
    <%= pet.name  %>
    <%= link_to 'Take Action', admin_application_path(pet.app_id), method: :get, class: "action-link" %><br>
  <% end %>
</section>