<h1>Application</h1>
<h2>Status: <%= @application.status %>

<h2>Applicant name: <%= @application.applicant_name %></h2>
<h3>Applicant address:<br>
  <%= "#{@application.street_address}" %><br>
  <%= "#{@application.city}, #{@application.state} #{@application.zip}" %></h3>

<section style='<%='display:none' if @application.status=="In Progress"%>'>
  <p>Why I would make a good home for this pet or pets:</p>
  <p><%= @application.description %></p>
</section>

<section id="application_pets">
  <h3>Pets</h3>
  <ul><% @application.application_pets.each do |application_pet| %>
    <%= pet = application_pet.pet %>
    <li id='pet-<%= pet.id %>'><%= link_to pet.name, pet_path(pet) %>
      <% if !application_pet.status %>
        <%= button_to "Approve Pet", admin_path(@application, pet: pet, status: :approve), method: :patch %>
        <%= button_to "Reject Pet", admin_path(@application, pet: pet, status: :reject), method: :patch %></li>
      <% else %>
        <%= application_pet.status %>
      <% end %>
  <% end %></ul>
</section>
