<h1>Adopt a Pet</h1>

<%= form_tag "/applications/#{params[:id]}/pets?search=#{params[:search]}", method: :get do %>
<%= label_tag :search %>
<%= text_field_tag :search %><br>
<%= submit_tag "Search by Name" %>
<% end %>

<% if params[:search] %>
  <h3>All pets matching search:</h3>
  <ul>
  <% @pets.each do |pet| %>
    <li><%= pet.name %></li>
  <% end %>
  </ul>
<% end %>
