<h1>Application Info</h1>

<section>
  <p><b>Name: </b><%= @app.name %></p>
  <p><b>Street Address: </b><%= @app.address %></p>
  <p><b>State: </b><%= @app.state %></p>
  <p><b>City: </b><%= @app.city %></p>
  <p><b>Zip: </b><%= @app.zip %></p>
  <p><b>Description: </b><%= @app.description %></p>
  <p><b>Application Status: </b><%= @app.status %></p>
  <div>
    <% @app.pets.each do |pet| %>
       <p><%= pet.name %></p>
    <% end %>
  </div>
</section>

