<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <header>
    <ul class="navbar">
      <li><%= link_to "admin", admin_path %></li>
      <li><%= link_to "Admin-Shelters", admin_shelters_path %></li>
      <li><%= link_to "Admin-Apps", admin_applications_path %></li>
    </ul>
    <div class="nav-bar">
      <ul>
        <p><%= link_to "Back to Home", "/" %>
          <%= link_to "Go to Shelters", "/shelters" %>
          <%= link_to 'Go to Pets', "/pets" %>

  </head><br>

  <body>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
